body {
    margin: 0;
    padding: 0;
}

.header-text {
    display: flex;
    justify-content: center;

}

.form-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #ABD2FA;
    padding: 20px;
    border-radius: 20px;
}

.form-input label {
    font-weight: bold;
    margin-right: 10px;
}

.form-input input[type="text"],
.form-input input[type="number"],
.form-input input[type="date"] {
    padding: "50px";
    margin-right: 10px;
}

.btn {
    background-color: orange;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

.expense-table {
    padding: 5px 40px;
    margin-bottom: 50px;

}

.table-text {
    text-align: center;
    color: rgb(100, 100, 100);
}

table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: rgb(232, 84, 114);
    color: #fff;
    font-weight: bold;
}

.filter-btns {
    display: flex;
    padding: 20px;
    gap: 10px;
    align-items: center;

}

.filter-btns-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.apply-filter-btn {
    padding: 5px 10px;
    background-color: #98CE00;
    border-radius: 10px;
}

.display-values {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #38618C;
    margin: 20PX;
    padding: 20PX;

}

.income-expense-display-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.income-dispaly {
    border: 1px solid black;
    width: 25%;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #8FD694;
    font-size: larger;
    font-weight: bold;
    color: #0A1128;

}

.expense-display {
    border: 1px solid black;
    width: 25%;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #EB4511;
    font-size: larger;
    font-weight: bold;
    color: #fff;
}

.balance {
    border: 1px solid black;
    width: 25%;
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: #DDD8B8;
    font-size: larger;
    font-weight: bold;
    /* color: #fff; */
    /* color: #fff; */

}

.your-Balance-container {
    /* width: 25%; */
    display: flex;
    justify-content: center;
    align-items: center;

}